.footer {
  background-color: rgb(144, 212, 197);
  padding-top: 4rem;
  padding-bottom: 6rem;

  display: flex;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__logo {
      height: 2rem;
      align-self: center;
      filter: invert(39%) sepia(5%) saturate(4296%) hue-rotate(118deg)
        brightness(69%) contrast(78%);
    }

    &__nav {
      margin-bottom: 2.75rem;
    }
    &__nav-lists {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 3.75rem;
      font-size: 1.1rem;
    }

    &__nav-link {
      display: inline-block;
      text-decoration: none;
      color: $color-dark-moderate-cyan;
      transition: all 0.3s;

      &:hover,
      &:active {
        color: $color-white;
      }
    }
  }

  &__social-nav {
    &-lists {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 1.5rem;
    }

    &-link {
    }

    &-icon {
      &:hover,
      &:active {
        filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(285deg)
          brightness(145%) contrast(107%);
      }
    }
  }
}
