.section-how {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "content1 img1"
    "img2 content2"
    "content3 content4";

  @include responsive(second-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "img1"
      "content1"
      "img2"
      "content2"
      "content3"
      "content4";
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    padding: 7rem;

    @include responsive(first-breakpoint) {
      padding: 5rem;
    }
    @include responsive(third-breakpoint) {
      padding: 1rem;
      align-items: center;
      text-align: center;
    }
    @include responsive(fourth-breakpoint) {
      padding: 0 0.5rem 1rem 0.5rem;
    }

    &-heading {
      font-size: 3rem;
      color: $color-very-dark-desaturated-blue;
      @include fraunces;
      @include responsive(first-breakpoint) {
        font-size: 2rem;
      }
      @include responsive(second-breakpoint) {
        font-size: 3rem;
      }
      @include responsive(third-breakpoint) {
        font-size: 2rem;
      }
      @include responsive(fourth-breakpoint) {
        font-size: 1.75rem;
      }
    }

    &-text {
      color: $color-dark-grayish-blue;
      font-size: 1.25rem;
      line-height: 1.5;

      @include responsive(first-breakpoint) {
        font-size: 0.9rem;
      }
      @include responsive(second-breakpoint) {
        font-size: 1.25rem;
      }
      @include responsive(third-breakpoint) {
        font-size: 1rem;
      }
      @include responsive(fourth-breakpoint) {
        font-size: 0.8rem;
      }
    }

    &-link:link,
    &-link:visited {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.25rem;
      color: $color-very-dark-desaturated-blue;

      @include fraunces;
      @include responsive(first-breakpoint) {
        font-size: 0.9rem;
      }
      @include responsive(second-breakpoint) {
        font-size: 1.25rem;
      }
      @include responsive(third-breakpoint) {
        font-size: 1rem;
      }
      @include responsive(fourth-breakpoint) {
        font-size: 0.8rem;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__graphics-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 20rem 9rem 3rem 9rem;
    @include responsive(first-breakpoint) {
      padding: 3rem 6rem;
    }
    @include responsive(third-breakpoint) {
      padding: 0 1rem 1rem 1rem;
    }
    @include responsive(fourth-breakpoint) {
      gap: 1rem;
    }

    &-heading {
      font-size: 2.25rem;

      @include fraunces;
      @include responsive(first-breakpoint) {
        font-size: 1.5rem;
      }
      @include responsive(second-breakpoint) {
        font-size: 2.25rem;
      }
      @include responsive(third-breakpoint) {
        font-size: 1.5rem;
      }

      @include responsive(fourth-breakpoint) {
        font-size: 1.25rem;
      }
    }

    &-text {
      font-size: 1.25rem;
      line-height: 1.5;

      @include responsive(first-breakpoint) {
        font-size: 0.8rem;
      }
      @include responsive(second-breakpoint) {
        font-size: 1.25rem;
      }
      @include responsive(third-breakpoint) {
        font-size: 1rem;
      }
      @include responsive(fourth-breakpoint) {
        font-size: 0.8rem;
      }
    }
  }
}

.link1 {
  border-bottom: 0.5rem solid rgba($color-yellow, 0.35);
  margin-bottom: -2rem;
  transition: $hover-transition;

  &:hover,
  &:active {
    border-bottom: 0.5rem solid $color-yellow;
  }
}

.link2 {
  border-bottom: 0.5rem solid rgba($color-soft-red, 0.25);
  transition: $hover-transition;

  &:hover,
  &:active {
    border-bottom: 0.5rem solid $color-soft-red;
  }
}

.content1 {
  grid-area: content1;
}

.content2 {
  grid-area: content2;
}
.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}
.content3 {
  grid-area: content3;
  background-image: url("../images/desktop/image-graphic-design.jpg");
  @include bstyle;
  color: $color-dark-saturated-cyan;
}

.content4 {
  grid-area: content4;
  background-image: url("../images/desktop/image-photography.jpg");
  color: $color-dark-blue;
  @include bstyle;
}
