.testimonial {
  max-width: 100vw;

  &__heading {
    text-transform: uppercase;
    color: $color-grayish-blue;
    letter-spacing: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 8rem;

    @include fraunces;
    @include responsive(first-breakpoint) {
      margin-top: 5rem;
    }
    @include responsive(third-breakpoint) {
      font-size: 1rem;
    }
  }
  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 1rem 9rem 5rem 9rem;
    @include responsive(first-breakpoint) {
      padding: 1rem 4rem 5rem 4rem;
      gap: 0;
    }
    @include responsive(second-breakpoint) {
      flex-direction: column;
    }
    @include responsive(third-breakpoint) {
      padding: 0 1rem 5rem 1rem;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;

    padding: 5rem 0;

    @include responsive(first-breakpoint) {
      padding-bottom: 0;
    }

    @include responsive(second-breakpoint) {
      gap: 2rem;
    }

    &-img {
      border-radius: 50%;
      height: 5rem;
    }

    &-quote {
      color: $color-very-dark-grayish-blue;
      font-size: 1.2rem;
      line-height: 1.75;

      @include responsive(first-breakpoint) {
        font-size: 1rem;
      }
      @include responsive(second-breakpoint) {
        font-size: 1.2rem;
      }
      @include responsive(third-breakpoint) {
        font-size: 1rem;
      }
      @include responsive(fourth-breakpoint) {
        font-size: 0.9rem;
      }
    }

    &-name {
      color: $color-very-dark-desaturated-blue;
      font-size: 1.2rem;
      margin-bottom: -3rem;
      @include fraunces;
      @include responsive(second-breakpoint) {
        margin-bottom: -1rem;

        @include responsive(fourth-breakpoint) {
          font-size: 1rem;
        }
      }
    }

    &-title {
      color: $color-grayish-blue;
      font-size: 0.9rem;
      @include responsive(fourth-breakpoint) {
        font-size: 0.75rem;
      }
    }
  }
}
