@mixin bstyle {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin fraunces {
  font-family: $font-family-Fraunces;
  font-weight: 900;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == first-breakpoint {
    @media only screen and (max-width: 68.75em) {
      @content;
    }
  }
  @if $breakpoint == second-breakpoint {
    @media only screen and (max-width: 48em) {
      @content;
    }
  }
}
