//PRIMARY COLORS

$color-soft-red: rgb(254, 120, 103);
$color-yellow: rgb(250, 212, 0);
$color-dark-saturated-cyan: rgb(37, 86, 75); //(graphic design text)
$color-dark-blue: rgb(25, 83, 107); //(photographic test)
$color-dark-moderate-cyan: rgb(69, 140, 126);

$color-very-dark-desaturated-blue: rgb(35, 48, 62);
$color-very-dark-grayish-blue: rgb(90, 99, 108);
$color-dark-grayish-blue: rgb(129, 132, 152);
$color-grayish-blue: rgb(167, 171, 174);
$color-white: rgb(255, 255, 255);

$default-font-size: 1.125rem;
